Задача 4.
Число Армстронга — это такое натуральное число, которое равно сумме своих цифр, возведённых в степень, равную количеству его цифр. Найти все такие числа от 1 до n, где n вводится по запросу с клавиатуры.

In [16]:
#Вводим n
import numpy as np
n = int(input('Enter number:'))
# перебираем числа от 1 до n
print('Armstrong numbers:', end = ' ')
for i in range(1, n+1):
    num_len = len(str(i)) # количество цифр в числе
    num_list = np.array([int(c) for c in str(i)]) # составляем список цифр
    pow_list = pow(num_list, num_len) # список из цифр возведенных в степень num_len
    pow_sum = np.sum(pow_list) # сумма элементов списка pow_list
    # проверяем условие на число Армстронга, если выполняется, то выводим через пробел
    if pow_sum == i:
        print(i, end =' ')

Enter number:100000
Armstrong numbers: 1 2 3 4 5 6 7 8 9 153 370 371 407 1634 8208 9474 54748 92727 93084

Задача 5.
Создать функцию, вычисляющую НОК двух целых чисел a и b, по запросу введенных с клавиатуры.

In [32]:
a = int(input('Enter a:'))
b = int(input('Enter b:'))
def nok(a, b):
    n= max(a,b)
    while n % min(a,b) != 0:
        n += max(a,b)
    return n
n = nok(a,b)
print(n)

Enter a:56
Enter b:67
3752

Задача 6.
Написать программу определения количества шестизначных "счастливых" трамвайных билетов,
у которых сумма первых трех цифр совпадает с суммой трех последних.

In [54]:
sum_list = [] # список для сумм цифр
all_happy = 0 # переменная для количества счастливых билетов
for i in range(1000): # перебираем все трехзначные номера(с 0 потомучто 000=0, 001=1 и т.д.)
    nums = [int(s) for s in str(i)] # разбиваем число на цифры
    num_sum = sum(nums) # считаем сумму цифр
    sum_list.append(num_sum) # добавляем сумму цифр в список
sum_set = set(sum_list) # sum_set множество из неповторяющихся сумм цифр
for k in sum_set:   # для каждого значения суммы
    happy_k = sum_list.count(k)# считаем сколько оно повторяется в sum_list
    # для каждого одинакового значения суммы k можно сделать happy_k сочетаний, поэтому возводим в квадрат
    # и добавляем к количеству счастливых билетов
    all_happy += pow(happy_k, 2)
print(all_happy)

55252

Задача 7.
Число из десятичной системы счисления, введенное по запросу с клавиатуры, в случае правильной записи преобразовать:
1) в двоичную систему 
2) в восьмеричную систему и результат вывести на экран.
В противном случае предложить ввести десятичное число заново.

In [63]:
x = input('Введите десятичное число:')
while not x.isdigit(): # проверяем состоит ли введенная строка из цифр до тех пор пока она не будет введена корректно
    x = input('Введите десятичное число корректно:')

print('Число в двоичной системе:', bin(int(x)).lstrip('0b')) # переводим число в двоичную систему и убираем первые два символа 0b
print('Число в восьмеричной системе:', oct(int(x)).lstrip('0o')) # переводим в восьмеричную систему и убираем первые 2 символа 0o

Введите десятичное число:9
Число в двоичной системе: 1001
Число в восьмеричной системе: 11

Задача 8.
Создать функцию, осуществляющую шифрование русского текста по методу Цезаря 
(сдвиг каждой буквы исходного теста вправо на 3 позиции).

In [81]:
# русский алфавит имеет свою кодировку в ascii а=1073, .., я=1103
def cesar(string): # функция принимает строку
    coded_string = '' # создаем пустую закодированную строку
    for s in string.lower(): # переводим строку в нижний регистр и перебираем символы в строке
        ascii_code = ord(s) # преобразуем символ в его ascii код
        if ascii_code == 32:# если пробел, то ничего не меняем
            coded_string += s # и прибавляем к строке
        elif ascii_code > 1100: # если это последние три буквы
            coded_string += chr(ascii_code -32 + 3) # то возвращаемся к началу алфавита
        else: # во всех остальных случаях
                # сдвигаем код на 3 позиции, возвращаем символ и добавляем к coded_string
            coded_string += chr(ascii_code + 3) 
    return coded_string # возвращаем закодированную строку

coded_string = cesar('абв где эюя') # вызываем функцию и присваиваем возвращаемое значение переменной coded_string
print(coded_string) # выводим строку

где жзи абв

Задача 9.
Создать базу данных из 6-ти учащихся, в которой указывается ФИО, оценка за экзамены по трем предметам.
Выбрать из них учащегося с самым низким балом и отчислить его (удалить из базы). Обновленную базу данных вывести на печать.

In [2]:
import sqlite3
from pprint import pprint
conn = sqlite3.connect('students.db')
c = conn.cursor()
c.execute('''CREATE TABLE IF NOT EXISTS students (student_name varchar,
                                                  score1 varchar,
                                                  score2 varchar,
                                                  score3 varchar)''')
#Функция занесения пользователя в базу
def add_student(student_name,score1, score2, score3):
    c.execute("INSERT INTO students (student_name,score1, score2, score3) VALUES ('%s','%s','%s','%s')"%(student_name,score1, score2, score3))
    conn.commit()
#Вводим данные
#n = int(input('Введите количество студентов:'))
#student_name = input("Введите ФИО студента\n")
#score1, score2, score3 = input("Введите оценки по трем предметам:\n").split(' ')
#print('\n')
#Делаем запрос в базу
print("Список студентов:\n")
print('ФИО')
#add_student(student_name,score1,score2,score3)
c.execute('SELECT * FROM students')
row = c.fetchone()
#выводим список пользователей в цикле
while row is not None:
    print('%-10s | Оценки: %-2s%-2s%-2s'%(row[0],row[1],row[2],row[3]))
    row = c.fetchone()
# закрываем соединение с базой
#for i in row:
#    avg = mean(row[])

c.close()
conn.close()

Список студентов:

ФИО
s          | Оценки: 1 2 3
s          | Оценки: 1 2 3
sldfkj     | Оценки: 2 3 4
d          | Оценки: 1 2 3
s          | Оценки: 1 2 3
s          | Оценки: 2 3 4
wqer       | Оценки: 3 4 5
alsdkfj    | Оценки: 4 4 4
sdf        | Оценки: 3 4 5

In [7]:
conn = sqlite3.connect('students.db')
c = conn.cursor()
c.execute('SELECT * FROM students')
row = c.fetchone()
avg = []
while row is not None:
    print('%-10s | Оценки: %-2s%-2s%-2s'%(row[0],row[1],row[2],row[3]))
    scores = [int(i) for i in row[1:]]
    avg.append(sum(scores)/len(scores))
    print(avg)
    row = c.fetchone()
min_avg = min(avg)
print(min_avg)
c.execute('SELECT * FROM students')
row = c.fetchone()
while row is not None:
    if (int(row[1]) + int(row[2]) + int(row[3]))/3 == min_avg:
        c.execute('DELETE row from students')
    print('%-10s | Оценки: %-2s%-2s%-2s'%(row[0],row[1],row[2],row[3]))
    row = c.fetchone()

s          | Оценки: 1 2 3
[2.0]
s          | Оценки: 1 2 3
[2.0, 2.0]
sldfkj     | Оценки: 2 3 4
[2.0, 2.0, 3.0]
d          | Оценки: 1 2 3
[2.0, 2.0, 3.0, 2.0]
s          | Оценки: 1 2 3
[2.0, 2.0, 3.0, 2.0, 2.0]
s          | Оценки: 2 3 4
[2.0, 2.0, 3.0, 2.0, 2.0, 3.0]
wqer       | Оценки: 3 4 5
[2.0, 2.0, 3.0, 2.0, 2.0, 3.0, 4.0]
alsdkfj    | Оценки: 4 4 4
[2.0, 2.0, 3.0, 2.0, 2.0, 3.0, 4.0, 4.0]
sdf        | Оценки: 3 4 5
[2.0, 2.0, 3.0, 2.0, 2.0, 3.0, 4.0, 4.0, 4.0]
2.0

OperationalError: near "row": syntax error

In [83]:
# Подключаем библиотеки
import pandas as pd
import numpy as np
# Создаем базу данных студентов с оценками по трем предметам
matan = pd.Series({'student1':5, 'student2':4, 'student3':3, 'student4':4, 'student5':3, 'student6':5})
physics = pd.Series({'student1':5, 'student2':4, 'student3':3, 'student4':5, 'student5':3, 'student6':4})
programming = pd.Series({'student1':5, 'student2':4, 'student3':3, 'student4':4, 'student5':3, 'student6':5})
 
students_list = pd.DataFrame({'Матан': matan, 'Физика': physics, 'Программирование': programming})
print(students_list) # выводим
# Добавлим столбец средних значений оценок
mean_score = students_list.mean(axis = 1) # считаем среднее по строкам
students_list['Средний бал:'] = mean_score # создаем стобец с данными
print(students_list) # выводим обновленную базу данных

min_avg = mean_score.min() # находим минимальное из средних значений
bad_students = mean_score[mean_score==min_avg].index # находим плохих студентов у которых среднее значение = минимальному
print('Отчислены студенты:')
for i in bad_students:
    print(i)
students_list.drop(bad_students, inplace=True) # удаляем плохих студентов
print(students_list)

          Матан  Программирование  Физика
student1      5                 5       5
student2      4                 4       4
student3      3                 3       3
student4      4                 4       5
student5      3                 3       3
student6      5                 5       4
          Матан  Программирование  Физика  Средний бал:
student1      5                 5       5      5.000000
student2      4                 4       4      4.000000
student3      3                 3       3      3.000000
student4      4                 4       5      4.333333
student5      3                 3       3      3.000000
student6      5                 5       4      4.666667
Отчислены студенты:
student3
student5
          Матан  Программирование  Физика  Средний бал:
student1      5                 5       5      5.000000
student2      4                 4       4      4.000000
student4      4                 4       5      4.333333
student6      5                 5       4      4.666667

Задача 10.
Составить журнал успеваемости по нескольким предметам, в котором указываются все полученные оценки по каждому предмету.
В зависимости от введенного по запросу номера предмета в журнале вывести на печать его название и средний бал.

In [121]:
import numpy as np
subjects = np.array(['subj1', 'subj2', 'subj3', 'subj4'], dtype = str)
x = np.random.choice([2,3,4,5], (len(subjects),10))
print(x[0])
journal = pd.Series(subjects)#({subjects[0]:x[0],subjects[1]:x[1],subjects[2]:x[2],subjects[3]:x[3]})
journal[subjects] = x
print(journal)
n = int(input('Введите номер предмета:'))
print(journal[n-1].mean())
lst

[2 2 4 3 5 3 5 5 2 2]

ValueError: ['subj1' 'subj2' 'subj3' 'subj4'] not contained in the index